USE [master]
GO
/****** Object:  Database [Depetris.Nicolas.2C.TPFinal]    Script Date: 22/11/2023 17:27:49 ******/
CREATE DATABASE [Depetris.Nicolas.2C.TPFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Depetris.Nicolas.2C.TPFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Depetris.Nicolas.2C.TPFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Depetris.Nicolas.2C.TPFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Depetris.Nicolas.2C.TPFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Depetris.Nicolas.2C.TPFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Depetris.Nicolas.2C.TPFinal]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 22/11/2023 17:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](500) NOT NULL,
	[APELLIDO] [varchar](500) NOT NULL,
	[DNI] [int] NOT NULL,
	[TELEFONO] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVAS]    Script Date: 22/11/2023 17:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVAS](
	[CLIENTE] [varchar](500) NOT NULL,
	[CLIENTE_DNI] [int] NOT NULL,
	[VEHICULO] [varchar](500) NOT NULL,
	[VEHICULO_PATENTE] [varchar](250) NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FIN] [date] NOT NULL,
	[TARIFA_AUTO] [float] NOT NULL,
	[TARIFA_CAMIONETA] [float] NOT NULL,
	[VIGENTE] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICULOS]    Script Date: 22/11/2023 17:27:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULOS](
	[MARCA] [varchar](255) NOT NULL,
	[MODELO] [varchar](255) NOT NULL,
	[ANIO] [int] NOT NULL,
	[TIPO] [varchar](255) NOT NULL,
	[PATENTE] [varchar](255) NOT NULL,
	[DISPONIBLE] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [DNI], [TELEFONO]) VALUES (1, N'Nicolas', N'Depetris', 38156210, N'01164771682')
INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [DNI], [TELEFONO]) VALUES (2, N'Silvia', N'Perugini', 17153766, N'01140608201')
INSERT [dbo].[CLIENTES] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [DNI], [TELEFONO]) VALUES (3, N'Pablo', N'Depetris', 16599819, N'01165890912')
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
GO
INSERT [dbo].[RESERVAS] ([CLIENTE], [CLIENTE_DNI], [VEHICULO], [VEHICULO_PATENTE], [FECHA_INICIO], [FECHA_FIN], [TARIFA_AUTO], [TARIFA_CAMIONETA], [VIGENTE]) VALUES (N'Nicolas Depetris', 38156210, N'Auto - Toyota Corolla - 2020 - AB432888', N'AB432888', CAST(N'2023-11-20' AS Date), CAST(N'2023-11-21' AS Date), 20000, 35000, 0)
INSERT [dbo].[RESERVAS] ([CLIENTE], [CLIENTE_DNI], [VEHICULO], [VEHICULO_PATENTE], [FECHA_INICIO], [FECHA_FIN], [TARIFA_AUTO], [TARIFA_CAMIONETA], [VIGENTE]) VALUES (N'Silvia Perugini', 17153766, N'Auto - Renault Kwid - 2022 - AA231SF', N'AA231SF', CAST(N'2023-11-20' AS Date), CAST(N'2023-11-23' AS Date), 20000, 35000, 0)
INSERT [dbo].[RESERVAS] ([CLIENTE], [CLIENTE_DNI], [VEHICULO], [VEHICULO_PATENTE], [FECHA_INICIO], [FECHA_FIN], [TARIFA_AUTO], [TARIFA_CAMIONETA], [VIGENTE]) VALUES (N'Pablo Depetris', 16599819, N'Camioneta - Renault Kangoo - 2020 - AA231SI', N'AA231SI', CAST(N'2023-11-20' AS Date), CAST(N'2023-12-01' AS Date), 20000, 35000, 0)
GO
INSERT [dbo].[VEHICULOS] ([MARCA], [MODELO], [ANIO], [TIPO], [PATENTE], [DISPONIBLE]) VALUES (N'Fiat', N'Palio', 2016, N'Auto', N'AA260QB', 1)
INSERT [dbo].[VEHICULOS] ([MARCA], [MODELO], [ANIO], [TIPO], [PATENTE], [DISPONIBLE]) VALUES (N'Chevrolet', N'Corsa', 2009, N'Auto', N'HHI349', 1)
INSERT [dbo].[VEHICULOS] ([MARCA], [MODELO], [ANIO], [TIPO], [PATENTE], [DISPONIBLE]) VALUES (N'Volkswagen', N'Bora', 2012, N'Auto', N'KAV447', 1)
GO
USE [master]
GO
